body {
   background-color: #222222;
}
h2 {
   text-align: center;
   color: white;
   font-size: 1.9em;
   font-family: arial;
}
#gameTable {
   width: 610px;
   height: 610px;
   margin: 40px auto;
   background-color: #00A550;
   border-radius: 10px;
   overflow: hidden;
}
#board {
   display: flex;
   width: 560px;
   height: 560px;
   margin: 25px;
   padding: 0;
}
.even, .odd {
   display: inline-block;
   padding: 0;
   margin: 0;
}
.odd li:nth-child(odd), .even li:nth-child(even) {
   background-color: white;
}
.odd li:nth-child(even), .even li:nth-child(odd) {
   background-color: black;
}
li {
   width: 70px;
   height: 70px;
   margin: 0;
   padding: 0;
   display: block;
   text-align: center;
   line-height: 60px;
}
.visited {
   
}
.hasImage {
   background-image:url(../assets/mark.png);
}
.isLast {
   background-image:url(../assets/stop.png);
}
.isStart {
   background-image:url(../assets/start.png);
}
#move {
   width: 100px;
   height: 30px;
   display: block;
   font-family: arial;
   margin: 5px auto;
}